body{
    background-color:#FF1493;
}
h1{
	color:white;
	text-align:center;
    font-family: 'Open Sans Condensed', sans-serif;
}
p{
	padding:50px;
	text-align:left;
	font-size:20px;
}
img{
	padding:50px;
}

